<h1>Mars Rover Problem</h1>
Insert Plateau Limits (example: 5 5) <input type="text" id="plateau_limits" value="5 5" /> <br/>
Insert Starting Coordinates (example: 1 2 N): <input type="text" id="starting_coordinates" value="1 2 N" /><br/>
Insert Commands List (example: LMLMLMLMM): <input type="text" id="movement_sequence" value="LMLMLMLMM" /><br/>
<input type="button" value="Calculate Rover Moves" onclick="mars_rover.moveRover()">

<div id="rover_moves"></div>